/*Encabezados*/
.divider {
    width: 100%;
    height: 3rem;
}

.header-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.header-divider-header {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    z-index: 1050;
    padding-top: 10rem;
}

.navbar {
    background-color: white; /* Color por defecto */
    transition: background-color 0.3s ease;
}

/* Estilos cuando el navbar está fijo */
.navbar.fixed-top {
    background-color: #333; /* El color que desees cuando está fijo */
    color: white;
}


.logo-header {
    width: 8rem;
}

.logo-header-center {
    width: 8rem;
}

.logo-header-center-2 {
    width: 9.5rem;
}

@media (max-width: 1000px) {
    .logo-header-center {
        display: none;
    }
    .logo-header-center-2 {
        display: none;
    }
}


    /* Default height for small devices */
    #intro-example {
        height: 400px;
      }
      .mask{
        height: 400px;
        background-color: rgba(0, 0, 0, 0.7);
      }
  
      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
            background-repeat: no-repeat;
            height: 600px;
        }
        .mask{
            height: 582px;
            background-color: rgba(0, 0, 0, 0.7);
        }
      }